body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

a {
  color: #00B7FF;
}

#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  overflow: hidden;
}

#sequencer {
  display: none;
}

#visualizer {
  position: relative;
  border: 1px solid black;
  width: 500px;
  height: 500px;
  margin: auto;
  border-radius: 50%;
}
#visualizer .userbubble, #visualizer .centerbubble {
  position: absolute;
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
  font-size: 10px;
  z-index: 1;
  background-color: lightblue;
}
#visualizer .notecontainer {
  position: absolute;
  /*height: 10px;*/
  border: 1px solid black;
  transform-origin: center left;
}
#visualizer .notecontainer .note {
  width: 100%;
  height: 4px;
}
.note.c {
  background-color: hsl(0, 100%, 65%);
}
.note.db {
  background-color: hsl(30, 100%, 65%);
}
.note.d {
  background-color: hsl(60, 100%, 65%);
}
.note.eb {
  background-color: hsl(90, 100%, 65%);
}
.note.e {
  background-color: hsl(120, 100%, 65%);
}
.note.f {
  background-color: hsl(150, 100%, 65%);
}
.note.gb {
  background-color: hsl(180, 100%, 65%);
}
.note.g {
  background-color: hsl(210, 100%, 65%);
}
.note.ab {
  background-color: hsl(240, 100%, 65%);
}
.note.a {
  background-color: hsl(270, 100%, 65%);
}
.note.bb {
  background-color: hsl(300, 100%, 65%);
}
.note.b {
  background-color: hsl(330, 100%, 65%);
}
