body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

a {
  color: #00B7FF;
}

#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50px;
  background-color: white;
  border-right: 1px solid black;
  overflow: hidden;
  transition: width 1s;
  z-index: 2;
}

#sidebar.open {
  width: 300px;
}

#sidebar .sidebar-toggle {
  position: absolute;
  top: 10px;
  right: 17px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid black;
  cursor: pointer;
  transition: transform 1s;
}

#sidebar.open .sidebar-toggle {
  transform: rotateZ(180deg);
}

#sidebar .sidebar-content {
  position: absolute;
  right: 50px;
  top: 50px;
  width: 200px;
  overflow: hidden;
}

#loop-list {
}

#loop-list .add-loop {
  width: 150px;
  border: 1px solid black;
  margin: auto;
  padding: 5px;
  cursor: pointer;
}

.loop-list-item {
  border: 1px solid black;
  padding: 5px;
  padding-left: 25px;
  position: relative;
  cursor: pointer;
  height: 20px;
  margin: 5px 0;
}

.loop-list-item .icon {
  position: absolute;
  top: 5px;
  left: 5px;
}

.loop-list-item .icon.play-button {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid black;
  width: 0;
  height: 0;
}

.loop-list-item .icon.stop-button {
  top: 9px;
  border: none;
  width: 12px;
  height: 12px;
  background-color: black;
}

#sequencer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  transition: height 1s;
  border-top: 1px solid black;
  z-index: 3;
  background-color: white;
}
#sequencer.open {
  height: 100%;
}
#sequencer .sequencer-close {
  position: absolute;
  top: 17px;
  left: 10px;
  width: 0;
  height: 0;
  border-top: 15px solid black;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  cursor: pointer;
}
#sequencer .sequencer-settings {
  position: absolute;
  left: 130px;
}
#sequencer .sequencer-settings label {
  font-size: 15px;
  margin: 0 5px;
}
#sequencer .sequencer-settings input[type=number] {
  width: 50px;
  height: 18px;
  font-size: 15px;
  text-align: center;
}
#sequencer .sequencer-settings .time-signature {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  top: 20px;
  margin-right: 5px;
}
#sequencer .sequencer-settings .time-signature-top {
  position: absolute;
  top: 0;
}
#sequencer .sequencer-settings .time-signature-bottom {
  position: absolute;
  bottom: 0;
}
#sequencer .controls {
  position: absolute;
  top: 25px;
  left: 50px;
}
#sequencer .controls .record,
#sequencer .controls .play,
#sequencer .controls .stop {
  display: inline-block;
  cursor: pointer;
  margin: 5px;
}
#sequencer .controls .record {
  top: 9px;
  border: none;
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
}
#sequencer .controls .play {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid black;
  width: 0;
  height: 0;
  position: relative;
  top: 3px;
}
#sequencer .controls .stop {
  top: 9px;
  border: none;
  width: 12px;
  height: 12px;
  background-color: black;
}
#sequencer .roll-container {
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  border-top: 1px solid black;
}
#sequencer .piano-roll {
  position: absolute;
  left: 55px;
  top: 0;
  height: 100%;
}

#sequencer .piano-roll .measure-line {
  position: absolute;
  border-left: 1px solid black;
  width: 0;
  top: 0;
  height: 1936px; /* 88 * 22px; change this later */
}
#sequencer .piano-roll .measure-line.end-measure {
  border-left: 2px solid black;
}
#sequencer .piano-roll .tracker {
  position: absolute;
  z-index: 1;
  width: 0;
  height: 1936px; /* 88 * 22px; change this later */
}
#sequencer .piano-roll .tracker .tracker-arrow {
  position: relative;
  right: 5px;
  border-top: 5px solid red;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  width: 0;
  height: 0;
}
#sequencer .piano-roll .tracker .tracker-line {
  border-left: 1px solid red;
  height: 100%;
}
#sequencer .piano-keys {
  position: absolute;
  left: 0;
  top: 0;
}
#sequencer .piano-keys .key {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  background-color: white;
  width: 50px;
  padding: 2px;
}
#sequencer .piano-keys .key.sharp {
  background-color: black;
  color: white;
}

#visualizer {
  position: absolute;
  right: 0;
  left: 50px;
  top: 0;
  bottom: 0;
  padding-top: 20px;
}

#visualizer .circle {
  position: relative;
  border: 1px solid black;
  width: 500px;
  height: 500px;
  margin: auto;
  border-radius: 50%;
}
#visualizer .userbubble, #visualizer .centerbubble {
  position: absolute;
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
  font-size: 10px;
  z-index: 1;
  background-color: lightblue;
}
#visualizer .notecontainer {
  position: absolute;
  border: 1px solid black;
  transform-origin: center left;
}
#visualizer .notecontainer .note {
  width: 100%;
  height: 4px;
}
.note.c {
  background-color: hsl(0, 100%, 65%);
}
.note.db {
  background-color: hsl(30, 100%, 65%);
}
.note.d {
  background-color: hsl(60, 100%, 65%);
}
.note.eb {
  background-color: hsl(90, 100%, 65%);
}
.note.e {
  background-color: hsl(120, 100%, 65%);
}
.note.f {
  background-color: hsl(150, 100%, 65%);
}
.note.gb {
  background-color: hsl(180, 100%, 65%);
}
.note.g {
  background-color: hsl(210, 100%, 65%);
}
.note.ab {
  background-color: hsl(240, 100%, 65%);
}
.note.a {
  background-color: hsl(270, 100%, 65%);
}
.note.bb {
  background-color: hsl(300, 100%, 65%);
}
.note.b {
  background-color: hsl(330, 100%, 65%);
}
